.#{$ns}-conclusion {
  background: linear-gradient(to bottom, $black, $red calc(20% + #{rem(106 * (1.1 + 0.55))}), $black calc(20% + #{rem(106 * (1.1 + 0.55))}));
  
  &_header {
    margin-top: -3px;
    width: 100%;
    padding-bottom: rem(32);

    & svg {
      width: 100%;
    }
  }
}