.#{$ns}-device {
  background: $green;

  &_content {
    margin: 0 auto;
    max-width: rem(1440);
    padding: rem(16) 0 rem(64);
    height: 100%;

    @include media-min(sm) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }
  }

  &_col {
    flex: 1;
    flex-basis: $col-12-6;
  }

  &_frame {
    position: relative;
  }

  &_figure {
    position: relative; // for z-indexing
    width: 100%;
    
    display: flex;
    justify-content: center;

    & > svg {
      width: 100%;
    }

    &--device {
      z-index: 3;
    }
    
    &--fork, &--spoon, &--knife, &--screen-1, &--screen-2 {
      position: absolute;
      top: 0;
      left: 0;
    }

    &--screen-1, &--screen-2 {
      z-index: 5;
    }

    &--fork, &--spoon, &--knife {
      top: 60%;
      
      & > svg { 
        width: 16%; 
      }
    }
  }

  &_copy {
    position: relative;
    display: flex;

    &-header {
      position: absolute;
      margin-left: rem(-16);
      top: rem(-8);
      width: 100%;
      z-index: 1;

      @include media-min(sm) {
        margin: 0 auto;
        text-align: center;
      }
    }

    &-body {
      margin: auto;
      padding: 0 $col-gutter;
      z-index: 2;

      &--mobile {
        display: block;
      }
      
      &--desktop {
        display: none;
        position: relative;
      }

      @include media-min(md) {
        margin-top: rem(128);

        &--mobile {
          display: none;
        }

        &--desktop {
          display: block;
          margin-left: auto;
          width: $col-12-10;
        }
      }
    }

    &-block {
      font-size: rem(16);
      line-height: 1.3125;
      text-align: justify;

      @include media-min(sm) {
        font-size: rem(24);
      }

      &--0 {}

      &--1 {
        // TODO: probably remove this
        @include media-min(sm) {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  &_subject {
    @include outline-text($blue, 2);
    font-size: rem(205);

    @include media-min(sm) {
      font-size: rem(320);
    }
  }
}