.#{$ns}-device {
  background: $green;

  &_content {
    margin: 0 auto;
    max-width: rem(1440);
    padding: rem(16) 0 rem(64);
    height: 100%;

    @include media-min(sm) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }
  }

  &_col {
    flex: 1;
  }

  &_frame {
    position: relative;
  }

  &_figure {
    width: 100%;

    & > svg {
      width: 100%;
    }
    
    &--fork, &--spoon, &--knife, &--screen-1, &--screen-2 {
      position: absolute;
      top: 0;
      left: 0;
    }

    &--fork, &--spoon, &--knife {
      top: 63%;
    }
  }

  &_copy {
    position: relative;
    display: flex;

    &-header {
      position: absolute;
      margin-left: rem(-16);
      top: rem(-48);
      width: 100%;
      z-index: 1;

      @include media-min(sm) {
        margin: 0 auto;
        // top: 0;
        text-align: center;
      }
    }

    &-body {
      margin: auto;
      padding: 0 $col-gutter;
      z-index: 2;

      @include media-min(sm) {
        width: 65%;
      }
    }

    &-block {
      font-size: rem(16);
      line-height: 1.3125;
      text-align: justify;

      @include media-min(sm) {
        font-size: rem(24);
      }

      &--0 {}

      &--1 {
        // TODO: probably remove this
        @include media-min(sm) {
          display: none;
        }
      }
    }
  }

  &_subject {
    @include outline-text($blue, 2);
    font-size: rem(205);

    @include media-min(sm) {
      font-size: rem(320);
    }
  }
}