.#{$ns}-footer {
  background: $black;

  &_content {
    margin: 0 auto;
    max-width: rem(1440);
    padding: rem(16) $col-gutter;
    text-align: center;
  }

  &_header {
    font-size: rem(32);
    font-weight: $bold;
    line-height: 1.3125;

    @include media-min(md) {
      font-size: rem(106);
    }
  }

  &_body {
    margin: rem(54) auto;
  }

  .#{$ns}-ctas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}