.#{$ns}-sermon {
  position: relative; // necessary for proper z-indexing
  margin: 0 auto;
  max-width: rem(1440);
  padding: 0 $col-gutter;
  text-align: center;
  z-index: 2;

  .#{$ns}-paragraph {
    margin-top: 0;
    margin-bottom: 0;
    -webkit-text-stroke: 0.5px $offwhite; // not sure how sub-px is working
    font-family: $font-primary;
    font-size: rem(32);
    font-weight: $bold;
    line-height: 1.1;
    color: transparent;

    @include media-min(xs) {
      -webkit-text-stroke-width: 1px;
      font-size: 8vw;
    }

    @include media-min(md) {
      font-size: rem(106);
    }
  }
}