.#{$ns}-sermon {
  position: relative; // necessary for proper z-indexing
  text-align: center;
  z-index: 2;

  .#{$ns}-paragraph {
    -webkit-text-stroke: 0.5px $offwhite; // not sure how sub-px is working
    font-size: rem(32);
    line-height: 1.3125;
    color: transparent;

    @include media-min(xs) {
      -webkit-text-stroke-width: 1px;
      font-size: 8vw;
    }

    @include media-min(md) {
      font-size: rem(106);
    }
  }
}