.#{$ns}-statistic {
  background: linear-gradient(to bottom, $red, $green);

  &_content {
    margin: 0 auto;
    max-width: rem(1440);
    padding: rem(32) $col-gutter;
    text-align: center;
    font-family: $font-secondary;
    font-size: rem(24);

    @include media-min(md) {
      padding-bottom: rem(96);
      text-align: left;
      
      display: flex;
      flex-direction: row;
    }
  }
  
  &_header {
    flex-basis: $col-12-4;
    
    display: flex;
    
    &_content {
      margin: 0 auto;
      flex-basis: $col-12-9;
      flex-direction: column;
      justify-content: space-between;
      
      display: flex;

      @include media-min(sm) {
        margin-left: auto;
      }
    }
  }
  
  &_body {
    flex-basis: $col-12-8;

    @include media-min(md) {
      margin-top: rem(-96);
    }
  }
  
  &_stat {
    display: flex;
    flex-direction: column;
    
    @include media-min(md) {
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;
    }
  }

  &_figure {
    @include outline-text($blue, 2);
    font-size: rem(224);
    font-weight: $regular;
    letter-spacing: -16px;

    @include media-min(md) {
      font-size: 35vw;
      line-height: 0.8;
    }

    @include media-min(xl) {
      font-size: rem(620);
    }
  }
  
  .#{$ns}-title {
    line-height: 1.2;
    font-family: $font-secondary;
    
    @include media-min(md) {
      margin-top: rem(96);
      text-transform: uppercase;
    }
  }
}