.#{$ns}-visual {
  
  &_content {
    background: linear-gradient(to bottom, $black, $red);
    
    margin: 0 auto;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  &_header {
    margin: rem(64) auto rem(32);
    padding: 0 $col-gutter;
  }

  &_headline {
    font-family: $font-primary;
    font-weight: $bold;
    font-style: italic;
    
    @include media-min(sm) {
      margin: 0 auto;
      max-width: rem(576);
      font-size: rem(32);
    }
  }

  &_body {
    position: relative;
    flex: 1;
  }

  &_figure {
    display: flex;
    justify-content: center;
    backface-visibility: hidden;

    svg {
      vertical-align: bottom;
    }
    
    &--nyc {
      position: absolute;
      bottom: 0;
      width: 8%;
      stroke: $blue;

      transform: scale(4);
      transform-origin: center bottom;

    }

    &--trashpile-top {
      position: absolute;
      bottom: -3px;
      height: 100%;
      width: 100%;

      transform: scale(0.1) translateY(100%);
      transform-origin: center bottom;

      svg {
        height: 100%;
        width: 100%;
      }
    }

    &--scale {
      position: absolute;
      right: 15%;
      bottom: 0;
      height: 100%;
      width: 8%;
      stroke: $offwhite;

      svg {
        height: 100%;
      }

      &-marker {
        fill: $offwhite;
        fill-rule: nonzero;
        stroke: $offwhite;
      }
      
      &-line {
        stroke-dasharray: 8 12;

        &_mask {
          stroke: #FFFFFF;
          stroke-dasharray: 821;
          stroke-dashoffset: -821;
        }
      }
    }
  }
}