html, body {
  background: linear-gradient(to bottom, $offwhite 0% 50%, $black 50%); // better overscroll
  background-color: $black; // can't do gradient on these elems?
}

html {
  // background: linear-gradient(to bottom, $offwhite 0% 50%, $black 50%); // better overscroll
  overflow-x: hidden;

  * {
    box-sizing: border-box;
  }
}

body {
  color: $offwhite;
}

a {
  color: inherit;

  &:visited {
    color: inherit;
  }
}

.#{$ns}-paragraph {
  margin: 1em auto; // relative to the size of the (local) font
  font-family: $font-secondary;
  line-height: 1.4;
}

.#{$ns}-cta {
  color: $offwhite;
  
  &:hover {
    cursor: pointer;
  }

  @include media-min(md) {
    margin: rem(64) auto;
  }

  &_text {
    position: relative;
    z-index: 10;
  }

  &--link {
    margin-top: rem(48);

    & svg {
      fill: $offwhite;
    }

    @include media-min(md) {
      font-size: rem(32);
    }
  }

  &--donate {
    position: relative;
    margin: rem(80) auto;
    font-size: rem(54);
    font-weight: $bold;
    text-transform: uppercase;
    text-decoration: none;

    @include media-min(md) {
      margin: rem(128) auto;
      font-size: rem(120);
    }
    
    &::after {
      $diameter: 65; // **LOCAL VAR
      
      content: '';
      position: absolute;
      margin-right: -50%;
      top: 50%;
      left: 50%;
      width: #{$diameter + "%"};
      padding-top: #{$diameter + "%"};
      border: rem(8) solid $red;
      border-radius: 50%;
      background-color: $blue;
      z-index: 1;
      transform: translate(-50%, -50%);

      @include media-min(md) {
        border-width: rem(14);
      }
    }
  }
}

.#{$ns}-hidden {
  visibility: hidden;
  z-index: -1;
}

.browser-warning {
  display: none;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  color: $offwhite;
  background-color: $black;

  &_content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;

    transform: translate(-50%, -50%);
  }
}