html {
  background-color: $black; // better overscroll
  // overflow-x: hidden; // prevent side scroll from oversized elements
}

body {
  overflow-x: hidden; // prevent side scroll from oversized elements
  color: $offwhite;
}