.#{$ns}{
  &-title {
    margin-bottom: rem(32);
    font-family: $font-primary;

    @include media-min(sm) {
      margin-bottom: rem(54);
    }
  }

  &-subtitle {
    font-family: $font-secondary;
    line-height: 1.2;
  }
}