<div class="dtc-conclusion">
  <div class="dtc-conclusion_content">
    <div class="dtc-conclusion_header">
      <figure class="dtc-figure">
        {{!-- bottom of trash heap SVG --}}
        {{> global/icons/trashpile-bottom }}
      </figure>
    </div>
    <div class="dtc-sermon">
      {{> global/paragraphs paragraphs=main }}
    </div>
  </div>
</div>