<section class="dtc-entry">
  {{#> components/slider }}
    <div class="dtc-entry_content">
      <div class="dtc-entry_fact dtc-entry_fact--initial">
        {{ initial }}
      </div>
      {{#each facts}}
      <div class="dtc-entry_fact dtc-entry_fact--{{ @index }} dtc-hidden" data-entryfact>
        {{{ this }}}
      </div>
      {{/each}}
      <div class="dtc-entry_cover dtc-hidden" data-entrycover></div>
    </div>
  {{/components/slider}}
</section>