<div class="dtc-footer">
  <div class="dtc-footer_content">
    <div class="dtc-footer_header">
      <p class="dtc-paragraph">
        {{ copy }}
      </p>
    </div>
    <div class="dtc-footer_body">
      {{#with ctas}}
      <div class="dtc-ctas">
        {{> global/ctas/donate donate }}
        <div class="dtc-footer_recipient">
          {{> components/recipient recipient }}
        </div>
        {{> global/ctas/link follow }}
      </div>
      {{/with}}
    </div>
  </div>
</div>