<div class="dtc-reason">
  <div class="dtc-reason_content">
    <div class="dtc-reason_subject">
      {{ subject}}
    </div>
    <div class="dtc-reason_reason">
      {{> global/icons/dtc-reason }}
      {{!-- {{ main }} --}}
    </div>
  </div>
</div>