<div class="dtc-reason">
  <div class="dtc-reason_content">
    <div class="dtc-reason_subject">
      {{ subject}}
    </div>
    <div class="dtc-reason_reason">
      {{ main }}
    </div>
  </div>
</div>