<div class="dtc-paragraphs">
  <p class="dtc-paragraph">
    {{{ lead }}}
    <a 
      href="{{ organization.link }}"
      target="_blank"
    >
      {{{ organization.name }}}
    </a>
    {{{ organization.description }}}
  </p>
  <p class="dtc-paragraph">
    Stay tuned for next month’s beneficiary.
  </p>
</div>