<div class="dtc-paragraphs">
  <p class="dtc-paragraph">
    <span>{{{ lead }}}</span>
    <a 
      href="{{ organization.link }}"
      target="_blank"
    >{{{ organization.name }}}</a><span>{{{ organization.description }}}</span>
  </p>
  <p class="dtc-paragraph">
    Stay tuned for next month’s beneficiary.
  </p>
</div>