<section class="dtc-rhetorical">
  <div class="dtc-rhetorical_content">
    <div class="dtc-sermon">
      {{> components/paragraphs paragraphs=query }}
    </div>
    <div class="dtc-rhetorical_exclamation">
      {{ response }}
    </div>
  </div>
</section>