<section class="dtc-rhetorical">
  <div class="dtc-rhetorical_content">
    {{> components/paragraphs paragraphs=query }}
    <div class="dtc-rhetorical_exclamation">
      {{ response }}
    </div>
  </div>
</section>