<div class="dtc-statistic">
  <div class="dtc-statistic_content">
    <div class="dtc-statistic_header">
      <div class="dtc-statistic_header_content">
        <div class="dtc-title">
          {{ title }}
        </div>
      </div>
    </div>
    <div class="dtc-statistic_body">
      <div class="dtc-statistic_stat" data-statistic="true">
        {{!-- TO BE filled by javascript --}}
        <div class="dtc-statistic_numerator">Energy that goes to produce 1 plastic utensil can charge</div>
        <div class="dtc-statistic_figure">
          <span class="dtc-statistic_figure-content">2.1</span>
        </div>
        <div class="dtc-statistic_denominator">cell phones.</div>
      </div>
    </div>
  </div>
</div>