<div class="dtc-statistic">
  <div class="dtc-statistic_content">
    <div class="dtc-statistic_header">
      <div class="dtc-title">
        {{ title }}
      </div>
      <div class="dtc-subtitle">
        {{ subtitle }}
      </div>
    </div>
    <div class="dtc-statistic_body">
      <div class="dtc-statistic_stat" data-statistic="true">
        {{!-- TO BE filled by javascript --}}
        <div class="dtc-statistic_figure">674</div>
        <div class="dtc-statistic_description">trees today.</div>
      </div>
    </div>
  </div>
</div>