<section class="dtc-visual">
  {{#> components/slider }}
    <div class="dtc-visual_content">
      <div class="dtc-visual_header">
        <div class="dtc-visual_headline">
          {{{ headline }}}
        </div>
      </div>
      <div class="dtc-figure dtc-figure--nyc">
        {{> global/icons/nyc }}
      </div>
      <div class="dtc-figure dtc-figure--trashpile">
        {{> global/icons/trashpile }}
      </div>
    </div>
  {{/components/slider}}
</section>