<section class="dtc-visual">
  {{#> components/slider }}
    <div class="dtc-visual_content">
      <div class="dtc-visual_header">
        <div class="dtc-visual_headline" data-headline="visual">
          {{{ headline }}}
        </div>
      </div>
      <div class="dtc-visual_body">
        <div class="dtc-visual_figure">
          <figure class="dtc-figure dtc-visual_figure--nyc" data-visual="nyc">
            {{> global/icons/nyc }}
          </figure>
        </div>
        <div class="dtc-visual_figure">
          <figure class="dtc-figure dtc-visual_figure--trashpile-top" data-visual="trashpile">
            {{> global/icons/trashpile-top }}
          </figure>
        </div>
        <div class="dtc-visual_figure">
          <figure class="dtc-figure dtc-visual_figure--scale" data-visual="scale">
            {{> global/icons/scale }}
          </figure>
        </div>
      </div>
    </div>
  {{/components/slider}}
</section>