$col-gutter: rem(20);
$col-12-1: calc(100%/12);
$col-12-2: calc(100%/12*2);
$col-12-3: calc(100%/12*3);
$col-12-4: calc(100%/12*4);
$col-12-5: calc(100%/12*5);
$col-12-6: calc(100%/12*6);
$col-12-7: calc(100%/12*7);
$col-12-8: calc(100%/12*8);
$col-12-9: calc(100%/12*9);
$col-12-10: calc(100%/12*10);
$col-12-11: calc(100%/12*11);
$col-12-12: 100%;