
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1110.2"
	 viewBox="0 0 1110.2 306.1" xml:space="preserve">
<style type="text/css">
	.dtc0{fill:#FFFBF2;}
	.dtc1{font-family:'Times-New-Roman';}
	.dtc3{letter-spacing:-9;}
	.dtc4{letter-spacing:-1;}
	.dtc5{letter-spacing:-25;}
	.dtc6{letter-spacing:-7;}
	.dtc7{letter-spacing:-5;}
	.dtc8{letter-spacing:-10;}
	.dtc9{letter-spacing:-3;}
</style>
<title>DIE TRYING COLLECTIVE</title>
<text transform="matrix(1 0 0 1 52.35 133.46)" class="dtc0 dtc1 dtc3">D</text>
<text transform="matrix(1 0 0 1 176.94 133.46)" class="dtc0 dtc1">I</text>
<text transform="matrix(1 0 0 1 238.12 133.46)" class="dtc0 dtc1 dtc4">E </text>
<text transform="matrix(1 0 0 1 395.53 133.46)" class="dtc0 dtc1">T</text>
<text transform="matrix(1 0 0 1 507.63 133.46)" class="dtc0 dtc1 dtc5">R</text>
<text transform="matrix(1 0 0 1 604.38 133.46)" class="dtc0 dtc1 dtc4">Y</text>
<text transform="matrix(1 0 0 1 737.04 133.46)" class="dtc0 dtc1">I</text>
<text transform="matrix(1 0 0 1 798.22 133.46)" class="dtc0 dtc1 dtc6">N</text>
<text transform="matrix(1 0 0 1 924.23 133.46)" class="dtc0 dtc1 dtc4">G</text>
<text transform="matrix(1 0 0 1 2.25 293.46)" class="dtc0 dtc1 dtc7">C</text>
<text transform="matrix(1 0 0 1 119.64 293.46)" class="dtc0 dtc1 dtc8">O</text>
<text transform="matrix(1 0 0 1 242.33 293.46)" class="dtc0 dtc1 dtc9">LL</text>
<text transform="matrix(1 0 0 1 460.83 293.46)" class="dtc0 dtc1 dtc9">E</text>
<text transform="matrix(1 0 0 1 569.97 293.46)" class="dtc0 dtc1 dtc9">C</text>
<text transform="matrix(1 0 0 1 689.91 293.46)" class="dtc0 dtc1 dtc4">T</text>
<text transform="matrix(1 0 0 1 801.5 293.46)" class="dtc0 dtc1">I</text>
<text transform="matrix(1 0 0 1 862.28 293.46)" class="dtc0 dtc1 dtc4">V</text>
<text transform="matrix(1 0 0 1 994.94 293.46)" class="dtc0 dtc1">E</text>
</svg>
{{!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="100%" height="306.1" viewBox="0 0 1110.2 306.1" xml:space="preserve"><style>.dtc_ltr-space--1{letter-spacing:-1}.dtc_ltr-space--2{letter-spacing:-3}</style><text transform="translate(52.35 133.46)" letter-spacing="-9">D</text><text transform="translate(176.94 133.46)">I</text><text transform="translate(238.12 133.46)" class="dtc_ltr-space--1">E</text><text transform="translate(395.53 133.46)">T</text><text transform="translate(507.63 133.46)" letter-spacing="-25">R</text><text transform="translate(604.38 133.46)" class="dtc_ltr-space--1">Y</text><text transform="translate(737.04 133.46)">I</text><text transform="translate(798.22 133.46)" letter-spacing="-7">N</text><text transform="translate(924.23 133.46)" class="dtc_ltr-space--1">G</text><text transform="translate(2.25 293.46)" letter-spacing="-5">C</text><text transform="translate(119.64 293.46)" letter-spacing="-10">O</text><text transform="translate(242.33 293.46)" class="dtc_ltr-space--2">LL</text><text transform="translate(460.83 293.46)" class="dtc_ltr-space--2">E</text><text transform="translate(569.97 293.46)" class="dtc_ltr-space--2">C</text><text transform="translate(689.91 293.46)" class="dtc_ltr-space--1">T</text><text transform="translate(801.5 293.46)">I</text><text transform="translate(862.28 293.46)" class="dtc_ltr-space--1">V</text><text transform="translate(994.94 293.46)">E</text></svg> --}}